@font-face {
  font-family: 'Calibri';
  font-weight: 400;
  src: url('./fonts/calibri_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Calibri';
  font-weight: 700;
  src: url('./fonts/calibri_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Georgia';
  font-weight: 400;
  src: url('./fonts/georgia_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Georgia';
  font-weight: 700;
  src: url('./fonts/georgia_bold.ttf') format('truetype');
}

html {
  min-width: 320px;

  margin: 0px;
  padding: 0px;

  /* 12pt = 16px */
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;

  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;

  font-family: 'Calibri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  cursor: default;
}

#root {
  width: 100%;

  overflow: auto;

  scroll-behavior: smooth;
}

#root * {
  scroll-behavior: smooth;
}
